<!DOCTYPE html>
<html lang="en">

<head>
    <title>主页</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 layui-vue 样式 -->
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <style>
        .box{
            display: -webkit-flex; /* Safari */
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
            align-content: center;
        }
        .item{
            width: 200px;
            height: 100px;
            border: 1px solid red;
        }
    </style>
    <!-- 引入 Vue 3, 使用全局变量 Vue -->
<!--    <script src="https://unpkg.com/vue@3"></script>-->



    <!-- 引入 layui-vue 组件库, 使用全局变量 LayuiVue -->
<!--    <script src="https://unpkg.com/@layui/layui-vue"></script>-->
</head>

<body>
<div id="app">
<div class="box">

<div v-for="item in dataArray" :key="item.id" class="item"></div><div class="item" ></div>
</div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="plugins/vue/vue.js"></script>
<!-- 引入axios -->
<script src="plugins/axios/axios.min.js"></script>


<script src="js/request.js"></script>
<script src="./api/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                dataArray: []
            }
        },
        computed: {},
        created() {

        },
        beforeDestroy() {
        },
        // 一般在初始化页面完成后，再对dom节点进行相关操作
        mounted() {
            this.start();
        },
        methods: {
            async start() {
                this.para = 'ddd'
                await  getAll().then((res) => {
                    console.log(res.data.data)
                    dataArray = res.data.data
                }).catch((err) => {
                    if (err == "401")
                        err =
                            "您可能没有相关权限，或者权限已过期，可尝试重新登陆、更换帐号或联系管理员";
                    alert(err);
                });
            },
        }
    })
</script>
</body>


</html>