<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <title>登陆</title>
</head>
<body class="main">
<div class="login" id="login-app">
    <div class="login-box">
<!--        <img src="image/login/login-l.png" alt="">-->
        <img src="image/login/book1.jpg" alt="">
        <div class="login-form">

            <el-form ref="loginForm" :model="loginForm" :rules="loginRules" >
                <div class="login-form-title" style="font-size: 25px !important;font-weight: 600!important;">
                    <div>顺德图书馆 </div>
                    <div style="font-size:22px;font-weight: 400!important;color: #663333;"> &nbsp; 综合投票系统</div>
                </div>
                <el-form-item prop="login_name">
                    <el-input v-model="loginForm.login_name" type="text" auto-complete="off" placeholder="账号" maxlength="20"
                              prefix-icon="iconfont icon-user" />
                </el-form-item>
                <el-form-item prop="password">
                    <el-input v-model="loginForm.password" type="password" placeholder="密码" prefix-icon="iconfont icon-lock" maxlength="20"
                              @keyup.enter.native="handleLogin" />
                </el-form-item>

                <el-form-item>
                <div class="row m-t" th:if="${captchaEnabled==true}">
                    <div class="col-xs-6">
                        <input type="text" name="validateCode" class="form-control code" placeholder="验证码" maxlength="5" />
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:void(0);" title="点击更换验证码">
                            <img th:src="@{/captcha/captchaImage(type=${captchaType})}" class="imgcode" width="85%"/>
                        </a>
                    </div>
                </div>
                </el-form-item>

                <el-form-item>
                <div class="checkbox-custom" th:if="${isRemembered}">
                    <input type="checkbox" id="rememberme" name="rememberme"> <label for="rememberme">记住我</label>
                </div>
                </el-form-item>

                <el-form-item style="width:100%;">
                    <!--             :loading="loading"的作用就是当为真时，按键会有小小的东西在转，显得很有仪式感-->
                    <el-button :loading="loading" class="login-btn" size="medium" type="primary" style="width:100%;" @click.native.prevent="handleLogin">
                        <span v-if="!loading">登录</span>
                        <span v-else>登录中...</span>
                    </el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</div>

<!--<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>-->
<!--<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
<!--<script src="../static/ajax/libs/validate/jquery.validate.min.js" th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>-->
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<!--<script src="plugins/vue/vue.js"></script>-->
<!--<script src="plugins/vue/vue.js"></script>-->
<!--<script src="https://unpkg.com/vue@next"></script>-->
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<!-- 引入axios -->
<script src="plugins/axios/axios.min.js"></script>
<script src="layui/layui.js"></script>

<script src="js/request.js"></script>
<script src="api/login.js"></script>

<script>
    $.validator.setDefaults({
        submitHandler: function() {
            alert("提交事件!");
        }
    });
    $().ready(function() {
        $("#commentForm").validate();
    });

    new Vue({
        el: '#login-app',
        data() {
            return {
                loginForm:{
                    login_name: 'admin',
                    password: '123456'
                },
                loading: false,
                timer: null,
            }
        },
        computed: {
            loginRules() {
                const validateUsername = (rule, value, callback) => {
                    if (value.length < 1 ) {
                        callback(new Error('请输入用户名'))
                    } else {
                        callback()
                    }
                }
                const validatePassword = (rule, value, callback) => {
                    if (value.length < 6) {
                        callback(new Error('密码必须在6位以上'))
                    } else {
                        callback()
                    }
                }
                return {
                    'login_name': [{ 'validator': validateUsername, 'trigger': 'blur' }],
                    'password': [{ 'validator': validatePassword, 'trigger': 'blur' }]
                }
            }
        },
        created() {
          //  alert('222222222222')
            ///

            // clearTimeout(this.timer);  //清除延迟执行
            //
            // this.timer = setTimeout(()=>{   //设置延迟执行
            //     console.log('111111111111111')
            // },3000);
            ///

        },
        methods: {
            // async表示是一个异步函数
            async handleLogin() {
                //　ref 写在标签上时：this.$refs.名字  获取的是标签对应的dom元素
                this.$refs.loginForm.validate(async (valid) => {
                    if (valid) {
                        this.loading = true

                        await loginApi(this.loginForm).then(req =>
                        {
                            if (req.data.flag) {
                                console.log(req.data)
                                this.$message.success(req.data.message)
                                // 登陆成功后，把个人信息放在浏览器存储区域
                                localStorage.setItem('userInfo',JSON.stringify(req.data))
                                window.location.href= '/index'
                            } else {
                                // 这个应该是ｖｕｅ内置的函数
                                this.$message.error(req.data.message)
                                this.loading = false
                            }
                        }).catch((err) => {
                            if (err == "401")
                                err = "您可能没有相关权限，或者权限已过期，可尝试重新登陆、更换帐号或联系管理员";
                            this.$message.error(err);
                        });

                        // await表示要等其它在后面的函数执行完才继续执行这个
                        // if (String(res.code) === '1') {

                    }
                })
            }
        }
    })

</script>


</body>
</html>