<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>考评打分</title>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" href="css/common.css" type="text/css">
    <style>
        .demo-table-expand {
            font-size: 0;
        }
        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 100%;
            padding: 10px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row>
        <el-col>
            <el-result icon="success" title="您选择的结果已经提交" subTitle="请关闭页面">
                <template slot="extra">
                   <a href="/index"><el-button type="primary" size="medium">关闭</el-button></a>
                </template>
            </el-result>
        </el-col>
    </el-row>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="plugins/vue/vue.js"></script>
<!-- 引入axios -->
<script src="plugins/axios/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="moment/moment.js"></script>

<script src="js/request.js"></script>
<script src="api/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData:[]
            }
        },
        computed: {},
        created() {
        },
        beforeDestroy() {
        },
        beforeUpdated(){
        },
        updated()
        {
        },
        // 一般在初始化页面完成后，再对dom节点进行相关操作
        mounted() {
        },
        filters: {
        },
        methods: {
        }
    })
</script>
</body>
</html>