<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登陆</title>
</head>
<!-- 引入 layui-vue 样式 -->
<link rel="stylesheet" type="text/css" href="layui/css/layui.css">
<body>
<div id="app">
    <div class="layui-card">
        <div class="layui-card-header">名称</div>
        <div class="layui-card-body">
            {{dataArray.agv_name}}
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">名称寓意</div>
        <div class="layui-card-body">
            {{dataArray.name_implication}}
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">其它建议</div>
        <div class="layui-card-body">
            {{dataArray.opinion}}
        </div>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="plugins/vue/vue.js"></script>
<!-- 引入axios -->
<script src="plugins/axios/axios.min.js"></script>
<script src="layui/layui.js"></script>

<script src="js/request.js"></script>
<script src="api/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                id: '',
                dataArray: []
            }
        },
        computed: {},
        created() {
            var url = window.location.href ;             //获取当前url
            var dz_url = url.split('#')[0];                //获取#/之前的字符串
            var cs = dz_url.split('?')[1];                //获取?之后的参数字符串
            var cs_arr = cs.split('&');                    //参数字符串分割为数组
            var cs={};
            for(var i=0;i<cs_arr.length;i++){         //遍历数组，拿到json对象
                cs[cs_arr[i].split('=')[0]] = cs_arr[i].split('=')[1]
            }
            this.id = cs.id;                                           //这样就拿到了参数中的数据

            getAllById(this.id).then((res) =>{
                console.log(res.data.data)
                this.dataArray = res.data.data
            })
            console.log('this.id',this.id)


        },
        beforeDestroy() {
        },
        updated()
        {
        },
        // 一般在初始化页面完成后，再对dom节点进行相关操作
        mounted() {

        },
        methods: {

        }
    })
</script>
</body>
</html>